@font-face {
  font-family: "pala";
  src: url('../fonts/pala.ttf') format("truetype");
}
@font-face {
  font-family: "bebas";
  src: url('../fonts/bebas.ttf') format("truetype");
}
@font-face {
  font-family: "arial";
  src: url('../fonts/arial.TTF') format("truetype");
}
.header {
  /* height: 60px; */
  width: 100%;
  z-index: 9;
  background-color: white;
  position: relative;
  padding: 1rem;
}
.logo__figure {
  width: 10rem;
}
.container__padding{
  padding: 1rem 0 0;
}
.item__padding {
  padding: 1rem 1rem 0;
}
.option .item__padding:first-child {
  padding-right: 0;
}
.option .item__padding:nth-child(3),
.option .item__padding:nth-child(5) {
  padding-right: 0;
}
.hero__video__container {
  height: 70vh;
}

.header__nav .nav-link {
  padding: 0.2rem;
  font-weight: bold;
  border-radius:3px;
  text-align: center;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.social__nav .nav-link {
  padding: .4rem .4rem;
}
.social__nav {
  font-size: 1.3rem;
}
.hero__principal, .top {
  padding-top: 7rem;
}
.btn__download {
  margin: 1rem auto;
}
.title__page {
  padding: 4rem 0 2rem;
}
.form__template label {
  font-weight: bold;
}

.form__template input, .form__template textarea{
  border: 2px solid #1fb5be;
}
.form__template select {
  border: 2px solid #1fb5be;
  font: inherit;
}
.form__template input[type="submit"] {
  background-color: #1fb5be;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form__template input[type="submit"]:hover {
  background-color: #000000;
}
.hero__slide {
  padding: 4rem 0;
}
.message_one {
  top: 3rem;
  left: 3rem;
}
.message_three {
  right: 3rem;
  top: 5rem;
}
.message_four {
  margin-top: 3rem;
  top: 0;
}
.form__cotizar input[type='submit'] {
  border: 0;
  color: #ffffff;
  background-color: #1fb5be;
  font-size: 1.1em;
  padding: .5em 1em;
  width: 100% !important;
  cursor: pointer;
}
.form__cotizar input[type="submit"]:hover {
  background-color: #1fb5be;
}
.form__cotizar input[type="text"], .form__cotizar input[type="email"] {
  border: 0;
  border: 2px solid #d8d8d8;
  color: #000000;
  width: 100%;
  border-radius: 0.3em;
  background: #f9f9f9;

}
.form__cotizar textarea {
  color: #000000;
  border: 2px solid #d8d8d8;
  width: 100%;
  border-radius: 0.3em;
  background: #f9f9f9;
}
.form__cotizar input[type="text"]:focus, .form__cotizar input[type="email"]:focus {
  border: 0;
  border-bottom: 2px solid #000;
  color: #000000;
}
.form__cotizar label {
  width: 100%;
  font-weight: bold;
}
.form__contacto {
  width: 60%;
  margin: auto;
}
.sr-text {
  display:none;
}
.gform_fields {
  list-style: none;
}
li.gfield {
  padding: .5rem .5rem;
}



/* para formularios de servicios */
.col-center{
  float: none;
  margin: auto;
  min-width:650px;
}
/* asi se modifican los campos del formulario */

.form__servicios li{
  margin-top: 0px !important;
  padding: 0px !important;
  padding-right: 8px !important;
  padding-left: 10px !important;
}
.form__servicios label {
  font-weight: 1000 !important;
  font-size: 0.75rem !important;
}

.form__servicios input, .form__servicios textarea{
  border: 0px;
  background-color: #e9e6e6;
  width: 100% !important;
  font-size: 0.75rem !important;
}
.form__servicios .ginput_container, .form__servicios .gfield_label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.form__servicios textarea {
  height: 80px !important;
}
.form__servicios select {
  border: 2px solid #1fb5be;
  font: inherit;
}
.form__servicios .gform_footer{
  padding-right: 8px !important;
  padding-left: 10px !important;
}

.form__servicios span.gfield_required{
  color:#1fb5be !important;
}

.form__servicios input[type="submit"] {
  background-color: #e9e6e6;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem ;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form__servicios input[type="submit"]:hover {
  background-color: #1fb5be;
}

h4{
  font-size: 1rem;
}
.form__servicios .validation_error {
  display: none !important;
}
.form__servicios .validation_message {
  display: none !important;
}
.form__servicios .gfield_error {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

h3 {
  font-size: 1.6rem;
}



.navbar-nav li a{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.col-center{
    float: none;
    margin: 0 auto;
}

/* watches gt */
.logo{
  height: 11rem;
  position: absolute;
  top: -1rem;
}
.nav-social{
  position: absolute;
  right: 1%;
  top: 0%;
  padding: 1rem;
}
.nav-contacto{
  position: absolute;
  right:8% !important;
  top: 0%;
  line-height: 0%;
  padding: 0.5rem;
}
.nav-contacto h4{
  font-size: 1.3rem !important;
  font-weight: bold;
  color: #575756;
}
.nav-social img{
  height: 2rem;
}
.header__nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* seccion inicio */
#inicio img{
  width: 100%;
}
.hr-vertical{
  border-left:3px solid #575756;
  height:300px !important;
}
#lista1{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 2rem !important;
}
#lista1 .elemento{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
#lista1 .elemento img{
  width: 100%;
}
#lista1 .elemento img:hover {
  filter: saturate(180%);
}
#lista1 .elemento h1{
  font-weight: bolder;
  font-size: 0.9rem;
}
#lista2{
  background-image: url('../img/forma1.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
#lista2 .columna{
  display: flex;
  width: auto;
}
#lista2 .columna[id="c1"]{
  justify-content: flex-end;
}
#lista2 .columna[id="c2"]{
  justify-content: flex-start;
}
#lista2 .elemento{
  width: 40%;
  padding: 2rem;
}
#lista2 .elemento img{
  width: 100%;
}


.flip-card {
  background-color: transparent;
  width: 30% !important;
  height: 300px !important;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-front img{
  width:300px !important;
  height:300px !important;
} 

.flip-card-back {
  background-color: #575756;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1{
  font-size: 2.5rem !important;
}

.flip-card-back h2{
  font-size: 2.5rem !important;
}












#bancos{
  background-image: url('../img/bancos22.png');
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 75rem !important;
}
#conta{
  background-image: url('../img/banco.png') !important;
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 25rem !important;
}
#misionvision{
  background-image: url('../img/fondo22 (1).png');
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 125rem !important;
  padding-left: 6% !important;
  padding-right: 15%;
  padding-top: 25% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#misionvision p{
  color: white;
  text-align: justify;
  margin: 2rem !important;
  width: 60% !important;
}
#misionvision h1{
  font-size: 5rem !important;
  font-weight: bolder;
  padding-left: 4% !important;
}

#bancosimagen{
  background-image: url('../img/fondocolores.png');
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 4rem !important;
}

/*PARA EL FOOTER DE MEGA*/
#contactoz, #contactoz .info_contacto, #contactoz .info_contacto .contenedor .enlaces, #contactoz .info_contacto .contenedor, #contactoz .info_contacto .contenedor .enlaces .grupo, #contactoz .info_contacto .contenedor .enlaces .grupo .enlace, #contactoz .info_contacto .contenedor .logostarjetas {
  display: flex;
  /*align-items: center;
  justify-content: center;*/
}
#contactoz, #contactoz .info_contacto, #contactoz .info_contacto .contenedor .enlaces {
  flex-direction: column;
}
#contactoz {
  width: 100%;
  background-color: #fff;
  position: relative;
}
#contactoz .info_contacto {
  align-items: flex-start;
  width: 100%;
  font-family: "Montserrat";
  margin-bottom: 1rem;
}
#contactoz .info_contacto h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 2rem;
  font-family: bebas;
  color: #575756;
  font-size: 3rem !important;
}
#contactoz .info_contacto .contenedor {
  width: 100%;
}
#contactoz .info_contacto .contenedor .enlaces {
  width: 60%;
}
#contactoz .info_contacto .contenedor .enlaces .grupo .enlace {
  width: 50%;
  margin: 0.55rem;
  color: #575756;
  font-size: 1.5rem !important;
  font-family: arial;
}
#contactoz .info_contacto .contenedor .enlaces .grupo .enlace img {
  width: 2.5rem;
  margin-right: 1rem;
}
#contactoz .info_contacto .contenedor .logostarjetas {
  width: 40%;
  justify-content: flex-end;
}
#contactoz .info_contacto .contenedor .logostarjetas img {
  width: 8rem !important;
  margin: 1rem;
}



/* pagina contacto */
#inicio[class="pagina_contacto"]{
  background-image: url('../img/contacto.png');
  background-size: cover;
  background-position: top center;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#inicio[class="pagina_contacto"] h1{
  text-align: center;
  margin: 2rem;
  font-weight: bolder;
  font-size: 4rem;
}
#inicio[class="pagina_contacto"] .container-fluid{
  width: 50%;
}
#inicio[class="pagina_contacto"] .formulario_contacto{
  background-color: white;
}

#contacto{
  display: flex;
  justify-content: center;
}
#contacto .elemento{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#contacto .elemento img{
  width: 50% !important;
  
}
#contacto .elemento h4{
  color: #575756;
  text-align: center;
  width: 10rem !important;
  font-family: Arial;
}

.message_three .service__title  { text-shadow: 1px 1px 5px rgba(150, 150, 150, 1); }

@media only screen and (max-width: 1920px){
  #misionvision{
    min-height: 77rem !important;
  }
  #misionvision p{
    margin: 1rem !important;
    font-size: 15px !important;
  }
  #misionvision h1{
    font-size: 3.9rem!important;
  }
  #conta{
    min-height: 16rem !important;
  }
  #bancos{
    min-height: 55rem !important;
  }
}





@media only screen and (max-width: 1440px){
  #misionvision{
    min-height: 75rem !important;
  }
  #misionvision p{
    margin: 1rem !important;
    font-size: 15px !important;
  }
  #misionvision h1{
    font-size: 3.9rem!important;
  }
  #conta{
    min-height: 15rem !important;
  }
  #bancos{
    min-height: 50rem !important;
  }
}

@media only screen and (max-width: 1225px){
  .flip-card {
    height: 250px !important;
  }
  .flip-card-inner {
    width: 250px !important;
    height: 250px !important;
  }
  .flip-card-front, .flip-card-back {
    width: 250px !important;
    height: 250px !important;
  }

  .hr-vertical{
    height:250px !important;
    padding-right: 1rem !important;
  }

  .flip-card-front img{
    width:250px !important;
    height:250px !important;
  } 

  .flip-card-back h1{
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 1125px){
  #misionvision{
    min-height: 57rem !important;
  }
  #misionvision p{
    margin: 1rem !important;
    font-size: 15px !important;
  }
  #misionvision h1{
    font-size: 3.9rem!important;
  }
  #conta{
    min-height: 12rem !important;
  }
  #bancos{
    min-height: 40rem !important;
  }
}


/*RESPONSIVE IPAD PRO*/
@media only screen and (max-width: 1024px){
  #misionvision{
    min-height: 55rem !important;
  }
  #misionvision p{
    margin: 1rem !important;
    font-size: 15px !important;
  }
  #misionvision h1{
    font-size: 3.9rem!important;
  }
  #conta{
    min-height: 11rem !important;
  }
  .flip-card {
    height: 200px !important;
  }
  .flip-card-inner {
    width: 200px !important;
    height: 200px !important;
  }
  .flip-card-front, .flip-card-back {
    width: 200px !important;
    height: 200px !important;
  }

  .hr-vertical{
    height:200px !important;
    padding-right: 1.5rem !important;
  }

  .flip-card-front img{
    width:200px !important;
    height:200px !important;
  } 

  .flip-card-back h1{
    font-size: 1.5rem !important;
  }
  .nav-contacto{
    right:12% !important;
  }
}

/*975PX SEGUNDO RESPONSIVE*/ 

@media only screen and (max-width: 975px) {
  #lista1 .elemento{
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
  }

  #bancos{
    min-height: 40rem !important;
  }

  #misionvision{
    min-height:50rem!important;
  }

  #misionvision p{
    margin: 1rem!important;
    font-size: 15px!important;
  }
  #misionvision h1{
    font-size: 3rem!important;
    padding-left: 8%!important;
  }

  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 6rem!important;
    height: fit-content!important;
  }
}


/*TERCER RESPONSIVE DE 850*/ 

@media only screen and (max-width:850px){

  #bancos{
    min-height: 35rem!important ;
  }

  #misionvision{
    min-height:45rem!important;
  }

  #misionvision h1{
    font-size: 3rem!important;
    padding-left: 5%!important;
  }

  #misionvision p{
    margin: 1rem!important;
    font-size: 12px!important;
  }
  #contactoz .info_contacto h3 {
    font-size: 2rem !important;
  }
  #contactoz .info_contacto .contenedor .enlaces .grupo .enlace {
    
    font-size: 1rem!important;
  }
  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 5rem!important;
    height: 3rem!important;
  }

  .flip-card {
    height: 150px !important;
  }
  .flip-card-inner {
    width: 150px !important;
    height: 150px !important;
  }
  .flip-card-front, .flip-card-back {
    width: 150px !important;
    height: 150px !important;
  }

  .hr-vertical{
    height:150px !important;
    padding-right: 0.5rem !important;
  }

  .flip-card-front img{
    width:150px !important;
    height:150px !important;
  } 

  .flip-card-back h1{
    font-size: 1rem !important;
  }
  
  .flip-card-back h2{
    font-size: 1.5rem !important;
  }


  #bancosimagen{
    min-height: 3rem !important;
  }

  .nav-contacto{
    right:15% !important;
  }
}


/*CUARTO RESPONSIVE DE 750*/

@media only screen and (max-width:750px){
  .hr-vertical{
    height:150px !important;
  }

  #bancos{
    min-height: 25rem !important;
  }

  #misionvision{
    min-height:38rem!important;
  }

  #misionvision h1{
    font-size: 2rem!important;
    padding-left: 12%!important;
  }

  #misionvision p{
    margin: 1rem!important;
    font-size: 10px!important;
  }

  #contacto .elemento h4{
    font-size: 1rem!important;
  }
  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 4rem!important;
    height: 2.5rem!important;
  }

  #conta{
    background-image: url('../img/New Project (2).png') !important;
    min-height: 17rem !important;
  }
  #bancosimagen{
    min-height: 2.5rem !important;
  }
}

/*QUINTO RESPONSIVE DE 650*/

@media only screen and (max-width: 650px) {
  #lista1 .elemento{
    padding-left: 0.1rem!important;
    padding-right: 0.1rem!important;
  }
  .hr-vertical{
    height:160px !important;
  }

  #bancos{
    min-height: 25rem !important;
  }

  #misionvision{
    min-height:30rem!important;
    padding-top: 8rem !important;
    padding-left: 8% !important;
  }

  #misionvision h1{
    font-size: 1rem!important;
    padding-left: 18%!important;
  }

  #misionvision p{
    margin: rem!important;
    font-size: 0.5rem!important;
    width: 50% !important;
  }

  #contacto .elemento h4{
    font-size: 0.9rem!important;
  }

  #contactoz .info_contacto .contenedor .enlaces .grupo .enlace {
    
    font-size: 0.9rem!important;
  }
  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 3rem!important;
    height: 2rem!important;
  }


  .flip-card {
    height: 125px !important;
  }
  .flip-card-inner {
    width: 125px !important;
    height: 125px !important;
  }
  .flip-card-front, .flip-card-back {
    width: 125px !important;
    height: 125px !important;
  }

  .hr-vertical{
    height:125px !important;
    padding-right: 0.5rem !important;
  }

  .flip-card-front img{
    width:125px !important;
    height:125px !important;
  } 

  .flip-card-back h1{
    font-size: 0.5rem !important;
  }

  .flip-card-back h2{
    font-size: 0.5rem !important;
  }
  
  .flip-card-back p{
    font-size: 0.5rem !important;
  }
  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 21rem !important;
  }
  .nav-contacto{
    right:17% !important;
  }
  .hr-vertical{
    height:125px !important;
  }
}

.woocommerce{
  padding: 2rem;
}


/*QUINTO RESPONSIVE DE 560*/

@media only screen and (max-width: 560px) {

  #contacto .elemento h4{
    width: 8rem !important;
  }
  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 19rem !important;
  }
}


/*SEXTO RESPONSIVE DE 480*/
@media (max-width: 480px) {
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
    margin: 0 0 0rem;
    padding: 1.5rem;
  }
  .woocommerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0rem;
  }
  #bancos{
    min-height: 20rem !important;
  }
  #misionvision{
    min-height:25rem!important;
    padding-top: 6rem !important;
  }
  #misionvision p{
    margin: rem!important;
    font-size: 0.45rem!important;
    width: 50% !important;
  }
  #misionvision h1{
    padding-left: 14% !important;
  }
  #contactoz .info_contacto h3 {
    font-size: 1.5rem !important;
  }
  #contactoz .info_contacto .contenedor .enlaces .grupo .enlace {
    
    font-size: 0.5rem!important;
  }
  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 2rem!important;
    height: 1.5rem!important;
  }

  #lista2 .elemento{
    width: 40%;
    padding: 1rem;
  }
  .hr-vertical{
    display: none;
  }
  #lista1{
    flex-direction: column !important;
    padding: 0rem !important;
    
    padding-left: 3rem !important;
    align-items: baseline !important;
    margin: 1rem !important;
  }

  .flip-card {
    height: 300px !important;
    margin: 1rem !important;
  }


  .flip-card-inner {
    width: 300px !important;
    height: 300px !important;
  }
  .flip-card-front, .flip-card-back {
    width: 300px !important;
    height: 300px !important;
  }

  .hr-vertical{
    height:300px !important;
    padding-right: 0.5rem !important;
  }

  .flip-card-front img{
    width:300px !important;
    height:300px !important;
  } 

  .flip-card-back h1{
    font-size: 2rem !important;
  }

  .flip-card-back h2{
    font-size: 1rem !important;
  }
  
  .flip-card-back p{
    font-size: 1rem !important;
  }



  #lista1 .elemento{
    width: 80%;
    margin: 1rem 0rem;
  }
  
  .w-70, .w-50 {
    width: 95% !important;
    height: 95% !important;
  }
  .header {
    position: relative;
  }
  .item__padding {
    padding: 1rem 1rem 0;
  }
  .social__nav {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }
  .hero__principal, .top {
    padding-top: 0rem !important;
  }
  .hero__description {
    position: absolute;
    background-color: #fff;
    padding: 1rem;
  }
  .option .item__padding {
    padding: 1rem !important;
  }
  .form__template label, .form__template input, .form__template textarea {
    width: 100%;
  }
  .form__servicios label, .form__servicios input, .form__servicios textarea {
    width: 100%;
  }
  .form__servicios .col-center {
    min-width: 0px !important;
  }
  .title {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1.05rem;
  }
  
  .nav-link {
    padding: 3px !important;
  }
  #inicio, #sobre_nosotros, #contacto{
    flex-direction: column;
  }
  .col1, .col2{
    width: 100% !important;
  }
  .logo{
    height: 5rem;
    top: 0rem;
  }
  
  footer{
    font-size: 0.8rem;
  }
  #inicio[class="pagina_contacto"] h1{
    font-size: 2rem;
  }
  #inicio[class="pagina_contacto"] .container-fluid{
    width: 90%;
  }

  
  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 16rem !important;
  }

  
  #contacto .elemento img{
    width: 20% !important;
    
  }

  #contacto .elemento h4{
    width: 15rem !important;
  }

  .nav-contacto{
    right:20% !important;
  }
}



@media only screen and (max-width: 450px) {

  .nav-contacto{
    right:22% !important;
  }
  .nav-contacto h4{
    font-size: 1rem !important;
  }
  #lista1{
    padding-left: 2rem !important;
  }
}


@media only screen and (max-width: 430px) {

  #lista1{
    padding-left: 1.5rem !important;
  }
  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 15rem !important;
  }
}


/*QUINTO RESPONSIVE DE 400*/

@media only screen and (max-width: 400px) {

  #lista1{
    padding-left: 1rem !important;
  }
  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 14rem !important;
  }
  #contacto .elemento h4{
    width: 22rem !important;
  }
  .nav-contacto{
    right:56% !important;
    top: 2% !important;
  }
  .nav-contacto h4{
    font-size: 0.8rem !important;
  }
}

/*SEPTIMO RESPONSIVE DE 380*/
@media (max-width: 380px) {
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
    margin: 0 0 0rem;
    padding: 1.5rem;
  }
  .woocommerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0rem;
  }
  #bancos{
    min-height: 15rem !important;
  }
  #misionvision{
    min-height:20rem!important;
    padding-top: 5rem !important;
  }
  #misionvision p{
    margin: 0.4rem!important;
    font-size: 0.4rem!important;
    width: 50% !important;
  }
  #misionvision h1{
    padding-left: 10% !important;
  }
  #contactoz .info_contacto h3 {
    font-size: 1.5rem !important;
  }
  #contactoz .info_contacto .contenedor .enlaces .grupo .enlace {
    
    font-size: 0.3rem!important;
  }
  #contactoz .info_contacto .contenedor .logostarjetas img {
    width: 1rem!important;
    height: 1rem!important;
  }


  .nav-contacto h4{
    font-size: 0.65rem !important;
  }




  #lista2 .elemento{
    width: 40%;
    padding: 1rem;
  }
  .hr-vertical{
    display: none;
  }
  #lista1{
    flex-direction: column;
    padding: 0rem;
  }
  #lista1 .elemento{
    width: 80%;
    margin: 1rem 0rem;
  }
  
  .w-70, .w-50 {
    width: 95% !important;
    height: 95% !important;
  }
  .header {
    position: relative;
  }
  .item__padding {
    padding: 1rem 1rem 0;
  }
  .social__nav {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }
  .hero__principal, .top {
    padding-top: 0rem !important;
  }
  .hero__description {
    position: absolute;
    background-color: #fff;
    padding: 1rem;
  }
  .option .item__padding {
    padding: 1rem !important;
  }
  .form__template label, .form__template input, .form__template textarea {
    width: 100%;
  }
  .form__servicios label, .form__servicios input, .form__servicios textarea {
    width: 100%;
  }
  .form__servicios .col-center {
    min-width: 0px !important;
  }
  .title {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1.05rem;
  }
  
  .nav-link {
    padding: 3px !important;
  }
  #inicio, #sobre_nosotros, #contacto{
    flex-direction: column;
  }
  .col1, .col2{
    width: 100% !important;
  }
  .logo{
    height: 5rem;
    top: 0rem;
  }
  
  footer{
    font-size: 0.8rem;
  }
  #inicio[class="pagina_contacto"] h1{
    font-size: 2rem;
  }
  #inicio[class="pagina_contacto"] .container-fluid{
    width: 90%;
  }

  

  #conta{
    background-image: url('../img/New Project (4).png') !important;
    min-height: 13rem !important;
  }
  
  #lista1{
    padding-left: 0.1rem !important;
  }
  #contacto .elemento h4{
    width: 19rem !important;
  }
}
